.navbar {
  background: $gray-300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  padding: 2rem 0;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4rem;

    li {
      a {
        font-size: 1.7rem;
        color: $white-900;
        line-height: 2rem;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      color: $white-900;
      gap: 4px;
      cursor: pointer;

      input {
        border: 1px solid transparent;
        border-radius: 4px;
        background: none;
        outline: none;
        color: $white-900;
        width: 0;
        transition: $smooth;

        &:focus {
          border-color: $white-900;
          width: 100px;
          padding: 3px 6px;
        }
      }
    }

    span {
      font-size: 1.8rem;
      color: $white-900;
      cursor: pointer;
    }
  }
  @media (max-width:$lg) {
    &__avatar {
      width: 40px;
      height: 40px;
    }
  }
  @media (max-width:$md) {
    &__icons {
      gap: 10px;
  
      label {
        font-size: 1.8rem;
  
        input {
  
          &:focus {
            width: 100px;
            padding: 2px 6px;
          }
        }
      }
    }
  }
  @media (max-width:$xs) {
    &__avatar {
      width: 35px;
      height: 35px;
    }

    &__icons {
      gap: 8px;
      label {
        input {
          &:focus {
            width: 85px;
            padding: 2px 6px;
          }
        }
      }
    }
  }


}